  <style type="text/css">
        h3{
            margin: 0;
        }
        body {
            background: grey;
            font-family: arial;
        }
        a{
            color: aqua;
         }
        h1{
            background: #666;
            color: white;
            padding: 10px;
        }
        ul{ 
        margin: 0;
        }
        ul li {
            color: green;
            display: inline;
            list-style-type: none;
        }
        </style>